body {
  background-image: url('../imagenes/zombies-bg.jpg');
  background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height:100%;
}

canvas {
  margin: auto;
  display: flex;
  margin-top: calc(50vh - 286px);
}

.boton-recargar {
  margin: auto;
  display: flex;
  background: none;
  border: none;
  color: white;
  font-family: monospace;
  font-size: 12px;
  visibility: hidden;
}
